<div>
    <h2>Order Summary</h2>
    <ul class="list-group">
    <% if site_user_signed_in? %>
    <% if @cart.empty? %>
                <p><b>No items in cart</b></p>
            <% else %></li>
            <% book_price = 0 %>
            <% @cart.each do |book| %>
                <li class="list-group-item"><%= book.book_name %> - <%= book.price %> - <%= link_to 'remove', remove_from_cart_path(book.id), method: :delete %></li>
                <% book_price += book.price %>
            <% end %>
            <li class="list-group-item list-group-item-info">Subtotal: <%= book_price %>$</li>
            <% taxes = (book_price * site_user.customer.province.taxes) %>
                                <!-- Table      Table     Table  column   -->
            <li class="list-group-item list-group-item-info">Taxes: $ <%= taxes %></li>
            <li class="list-group-item list-group-item-dark">Grand Total: $<%= book_price + gst + pst%></li>
        <% end %>
    </ul>
    <% else %>
    <ul class="list-group">
    <li class="list-group-item"></li>
    </ul>
    <% end %>
</div>
<div>
    <h2>Pay via PayPal</h2>
</div>
<div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=CAD" data-sdk-integration-source="button-factory"></script>
<script>
    paypal.Buttons({
        style: {
            shape: 'rect',
            color: 'gold',
            layout: 'vertical',
            label: 'checkout',

        },
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '1'
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
        }
    }).render('#paypal-button-container');
</script>