<div class = 'container'>
  <h2 class="h1-responsive font-weight-bold text-center my-4">Update account info</h2>
  <%= form_for @customers, url: {action: "customers/_customer"} do |f| %>
    <%= f.label :first_name, "Your First Name: " %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name, "Your Last Name: " %>
    <%= f.text_field :last_name %>
    <%= f.label :address, "Address: " %>
    <%= f.text_field :address %>
    <%= select_tag(:province, options_for_select([province_name])) %>
    <%= f.label :postalcode, "Postal Code: " %>
    <%= f.text_field :postalcode %>
    <%= f.label :email_address, "Email Address: " %>
    <%= f.text_field :email_address %>
    <%= f.submit_tag %>
  <% end %>
  <h5 class="h5-responsive font-weight-bold text-center my-4">Feel free to call if you have any diffuclty.</h5>
</div>