<div class="book">
  <h2><%= @books.book_name %> - Details</h2>
  <img src=<%= @books.image %> alt="Book Cover" width="200" height="350">
  <ul>
    <li>Author: <%= @books.author.author_name %></li>
    <li>Genre: <%= @books.genre.genre %></li>
    <li>Price: $<%= @books.price %></li>
  </ul>
</div>