<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us.</p>

        <!--Grid column-->
        <div class="col-md-3 text-center">
        <% @contacts.each do |contact| %>
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p><%= contact.address %>, <%= contact.city %> <%= contact.province %> <%= contact.postal_code %> </p>
                </li>
                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p><%= contact.phone %></p>
                </li>
                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p><%= contact.email_address %></p>
                </li>
            </ul>
            <% end %>
        </div>
        <!--Grid column-->

    </div>

</section>