<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Express Books</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% site_user_session %>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<%= root_path %>">Express Books</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%= root_path %>">Home<span class="sr-only">(current)</span></a>
          </li>
          <% if site_user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Edit Account', edit_site_user_registration_path %>
            </li>
            <li class="nav-item">
              <%= link_to('Log Out', destroy_site_user_session_path, method: :delete) %>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_site_user_session_path %>">Log In<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_site_user_registration_path %>">Sign Up<span class="sr-only">(current)</span></a>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="<%= about_index_path %>">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= contact_index_path %>">Contact Us</a>
          </li>
          </ul>
          <ul class="navbar-nav mr-auto">
          <li>
          <details>
            <summary>My Cart</summary>
            <ul>
              <% if @cart.empty? %><li class="nav-item">
                <p><b>No items in cart</b></p></li>
              <% else %>
              <% @cart.each do |book| %>
                <li class="nav-item"><%= book.book_name %> - <%= link_to 'remove', remove_from_cart_path(book.id), method: :delete %></li>
              <% end %>
            <% end %>
            </ul>
          </details>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= order_order_url %>">Checkout</a>
          </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
        <%= form_tag(search_page_path, :method => "get", class: 'form-control mr-sm-2') do %>
          <%= search_field_tag :search, params[:search], placeholder: 'Search', class: 'form-control' %>
          <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
          <% end %>
        <!--</form>-->
      </div>
    </nav>
    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
